input {
    padding: 5px;
    display: block;
    width: 20vw;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.input-label {
    color: #3B3B3B;
    font-size: 18px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
input:focus ~ .input-label{
    font-size: 16px;
    color: #001479;
    transition: 0.2s ease-in-out;
}

.form-control:focus {
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}

