@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orbitron&display=swap');

* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.zaglavlje img {
    margin-top: 20px;
    width: 500px;
    height: 100px;
    color: white;
}

#nalog {
    text-align: right;
    margin: 0;
    color: blue;
    height: 30px;
    font-size: 20px;
    border-bottom: 2px solid #cccccc;
    float:none;
}

#nalog a{
    text-decoration: none;
    padding-right: 5px;
    color: blue;
    font-size: 20px;
    font-style: italic;
}
.naslov {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #001479;
    margin-top: 5rem;
    margin-bottom: 30px;
}
/*Sign up*/
.v-line {
    background-color: #ccc;
    width: 1px;
    margin: auto;
    display: block;
    height: 20rem;
}

.sign-up-container {
    height: 50vh;
}
.sign-up-form {
    flex-grow: 1;
    height: 50vh;
}
#togglePassword{
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#togglePassword:hover {
    cursor: pointer;
    border-color: rgba(204, 204, 204);
    box-shadow: 0 1px 1px rgb(204, 204, 204) inset, 0 0px 8px rgba(204, 204, 204, 0.8);
    outline: 0 none;
}

.btn-signup {
    color: white;
    background-color: #001479;
    width: 100%;
    margin-top: 2vh;
}
.btn-signup:hover {
    color: white;
    background-color: rgba(0, 20, 121, 0.8);
}
.social-media > button {
    width: 100%;
    margin-top: 2vh;
}

@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        position: relative;
    }
    .sign-up-form {
        height: 65vh;
    }
    .line-box {
        height: 3px;
        width: 100%;
        text-align: center;
        position: fixed;
    }
    .v-line {
        background-color: purple;
        margin: 0 auto;
        height: 2px;
        width: 18rem;
    }
    .social-media { position: fixed; }
    .social-media +button {
        margin-top: 0px;
    }
}